{{>layouts/header}}
<div>Kakao</div>


<script>
    /* 드롭다운 */
    $(document).ready(function() {
        // 'BRAND' 버튼을 클릭하면 드롭다운 메뉴가 토글되도록 설정
        $('.menu_button').on('click', function(e) {
            e.stopPropagation(); // 이벤트 버블링을 막음
            $(this).siblings('.dropdown-menu').toggleClass('show');
        });
        
        // 다른 곳을 클릭하면 드롭다운 메뉴가 닫히도록 설정
        $(document).on('click', function(event) {
            if (!$(event.target).closest('.menu_button').length) {
                $('.dropdown-menu').removeClass('show');
            }
        });
    });
    /* 메뉴 선택 시 페이지 이동*/
    function navigateToCommend1() {
        // Commend1 Mustache 파일로 페이지 이동
        window.location.href = "/articles/Commend1";
    }
    function navigateToCommend2() {
        // Commend2 Mustache 파일로 페이지 이동
        window.location.href = "/articles/Commend2";
    }
    function navigateToCommend3() {
        // Commend3 Mustache 파일로 페이지 이동
        window.location.href = "/articles/Commend3";
    }
    function navigateToCommend4() {
        // Commend4 Mustache 파일로 페이지 이동
        window.location.href = "/articles/Commend4";
    }
    </script>